*
{
	color: white;
	text-align: center;
	box-sizing: border-box;

}

body
{
	background-color: rgb(39, 34, 65);
}

.title
{
	color: white;
}

.btn
{
	color: black;
	cursor: pointer;
	background-color: rgb(219, 223, 90);
	border-radius: 5px;
}

.details
{
	border: 5px solid var(--yellow);
}